.container__main-page {
    background-image: url(https://i.imgur.com/ZsEgBvd.jpeg);
    background-size: auto;
    height: 35vh;
    margin-top: 7vh;
    width: 100%;
}

.container__main-page h1 {
    color: #fff;
    font-size: 8vh;
    font-family: 'Poppins-Light';
    font-weight: lighter;
    padding-top: 5vh;
    padding-left: 15vw;
    position: relative;
}

.container__main-page p{
    color: #fff;
    font-size: 8vh;
    margin-top: -5vh;
    font-weight: lighter;
    padding-left: 15vw;
    position: relative;
}

@media screen and (max-width: 820px) {
    .container__main-page {
        background-image: url(https://i.imgur.com/ZsEgBvd.jpeg);
        background-size: auto;
        height: 34vh;
        // margin-top: 70px;
        width: 100%;
    }

    
    .container__main-page h1 {
        color: #fff;
        font-size: 14vw;
        font-family: 'Poppins-Light';
        font-weight: lighter;
        // padding-top: 100px;
        // padding-left: 100px;
        position: relative;
    }
    .container__main-page p {
        color: #fff;
        font-size: 10vw;
        font-weight: lighter;
        height: 40vh;
        margin-top: -4vh;
        padding-left: 100px;
        position: fixed;
        width: 40vw;
        position: relative;
    }
    
    
}

@media screen and (max-width: 390px) {
    .container__main-page h1 {
        color: #fff;
        font-size: 50px;
        font-family: 'Poppins-Light';
        font-weight: lighter;
        padding-top: 100px;
        padding-left: 100px;
        position: relative;
    }
    
    .container__main-page h2 {
        color: #fff;
        font-size: 50px;
        font-weight: lighter;
        height: 50vh;
        margin-top: -5vh;
        padding-left: 100px;
        position: absolute;
        width: 30vh;
    }
}


