.container__new-recipe-items {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.title__new-recipes {
    color: #D84A4A;
    font-size: 80px;
    font-weight: lighter;
    height: 79px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-left: 100px;
}

@media screen and (max-width: 821px) {
    .container__new-recipe-items{
        margin-top: 40px;
        margin-left: 40px;
        overflow-x: scroll;
        justify-content: space-between;
    }
    .title__new-recipes {
        color: #D84A4A;
        font-size: 10vw;
        font-weight: lighter;
        height: 79px;
        margin-bottom: 50px;
        padding-top: 10px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 430px){
    .container__new-recipe-items{
        margin-top: 0px;
        margin-left: 0px;
        overflow-x: scroll;
        justify-content: space-between;
    }
    .title__new-recipes {
        padding-left:0px ;
        text-align: center;
        margin-bottom: 0px;
    }
}
    