.container__new-recipe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

.container__new-recipe-item-info {
    background-image: linear-gradient(#F1F6FC, #FFFFFF);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-right: #bfccd4d7 solid 3px;
    border-bottom: #bfccd496 solid 2px;
    border-left: #bfccd4d3 solid 1px;
    border-top: transparent;
    height: 300px;
    width: 280px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in .2s;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -230px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &:hover {
        visibility: visible;
        opacity: 1;
    }
}

.container__new-recipe-item-info h1 {
    color: #D84A4A;
    font-size: large;
    font-weight: lighter;
}

.container__new-recipe-item-info h2 {
    color: #425966;
    font-family: 'Poppins-Light';
    font-size: medium;
}

.container__new-recipe-item .icon{
    height: 1.8vh;
}


.container__new-recipe-item-text {
    background-image: linear-gradient(#E9F1FA, #FFFFFF);
    ;
    border-radius: 20px;
    border-right: #bfccd4d7 solid 3px;
    border-bottom: #bfccd496 solid 2px;
    border-left: #bfccd4d3 solid 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 280px;
    justify-content: space-between;
    margin-top: -140px;
    padding-top: 80px;
    visibility: visible;

    &:hover+.container__new-recipe-item-info {
        opacity: 1;
        transition: all ease .2s;
        visibility: visible;
    }

    &:hover {
        box-shadow: none;
        transition: all ease .2s;
    }
}

.container__new-recipe-item-info:hover+.container__new-recipe-item-text {
    opacity: 0;
    visibility: hidden;
}


.container__new-recipe-item-text h1 {
    color: #D84A4A;
    font-size: 20px;
    font-family: 'Poppins-Light';
    padding-top: 80px;
    text-align: center;
}

.container__new-recipe-item-text span {
    color: #D84A4A;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.container__star-fav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container__star-fav h2 {
    align-items: flex-end;
    color: #425966;
    font-family: 'Poppins-Light';
    font-size: 23px;
    margin-right: auto;
}

.container__star-fav img {
    height: 23px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.recipeimage {
    border-radius: 50%;
    border: 1px solid #8b8b8b;
    box-shadow: 2px 4px 10px 4px rgb(114, 114, 114);
    object-fit: cover;
    margin-bottom: 15px;
    width: 200px;
    height: 180px;
}

.recipeimage {
    position: relative;

}

.recipeinfoimage {
    margin-top: relative;
}

@media screen and (max-width: 500px){
    .recipeimage{
        width: 106px;
        height: 102px;
    }
    .container__new-recipe-item-text{
        height: 184px;
        width: 183px;
        margin-top: -75px;
        padding-top: 25px;
        margin-bottom: 95px;
    }
    .container__new-recipe-item-text h1{
        font-size: 16px;
    }
    .container__new-recipe-item-text span{
        font-size: 20px;
    }
    .container__new-recipe-item-info{
        height: 184px;
        width: 183px;
    }
}
