.container_new__recipes{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    flex-direction: column;
    flex-wrap: wrap;

}

.container__new-recipe-items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 20px;
}

.title__new-recipes {
    color: #D84A4A;
    font-size: 80px;
    font-weight: lighter;
    height: 79px;
    margin-bottom: 50px;
    margin-left: 70px;
    padding-top: 10px;
}
@media screen and (max-width: 500px){
    .title__new-recipes {
        margin-left:0px ;
        text-align: center;
        margin-bottom: 0px;
        font-size: 50px;
    }
    .container__new-recipe-items{
        padding-bottom: 20px;
        padding-left: 0px;
    }
}
    